html {
    background-color: #ffffff;
}

body {
    font-family: 'IBM Plex Serif', sans-serif;
    color: black;
    text-align: center;
}

.outside {
    border: 5px solid #c93333;
    border-radius: 15px;
    width: 900px;
    margin: auto;
    background-color: #fff0b9;
    padding: 10px;
}

h1 {
    font-family: 'IBM Plex Serif', sans-serif;
    color: #c93333;
}

input, select {
    font-family: 'IBM Plex Serif', sans-serif;
    font-size: 16px;
    width: 200px;
    margin: 5px;
}

button {
    font-family: 'IBM Plex Serif', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #c93333;
    background-color: #ffcb10;
    border: 2px solid #d7a905;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 5px;
}

button:active {
    background-color: #ffb710;
}

